*{
    margin: 0;
    padding: 0;
    font-family: "Love Ya Like A Sister", cursive;
  font-weight:550;
  font-style: normal;
  background-color: #ecd4d8;
}
.main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
img{
    height: 150px;
    width: 150px;
}
.buttons{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
    cursor: pointer;
}
.imgd{
    text-align: center;
}
